.App {
  text-align: center;
}
nav a.active{
  color: #18C7C9;
  font-size: 18px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  gap: 40px;
}
.card{

}