/* IMPORTS */

/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.App {
  text-align: center;
}
nav a.active{
  color: #d31b34;
  font-size: 18px;
}

section.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  padding: 20px;
  margin: 50px;
  /* background-color: whitesmoke; */
}
/* TAKE OBJECT FAR FROM PERSPECTIVE VIEW */
.card, .card-front, .card-back{
  border-radius: 20px;
}

/* SET SAME COLUMN AND ROW FOR BOTH CARD */
.card-container {
  display: grid;
  grid-template-columns: 1fr;  
  transition: all 1s ease;
  transform-style: preserve-3d;
}
.card-front, .card-back{
  grid-area: 1 / 1;
  backface-visibility: hidden;
  overflow: hidden;
}
.card-front {
  background-color: #d31b34;
}
.card-front h2, .card-back p{
  padding: 20px;
}
.card-back {
  transform: rotateY(180deg);
  background-color: #262c34;
  /* margin: 0 auto; */
  border:1px solid #333;
  color: whitesmoke;
}
.card-back button{
  position: absolute;
  text-align: center;
  /* width: fit-content; */
  margin: 20px;
  bottom: 0;
}
/* FIX CARD IMAGES WIDTH */
.card-container img {
    width: 400px;
    height: 400px;
    display: block;
}

.card:hover .card-container {
  transform: rotateY(180deg);
}

.card *:not(button){
  text-align: left;
}


header{
  padding: 20px;
}
header nav li{
  margin: 20px;
  display: inline;
}
footer{
  padding: 20px;
}
footer *, a{
  color: whitesmoke;
}
body{
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  background-color: #303841;
}
h2{
  font-weight: bold;
}
.page-item{
  display: inline;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d31b34;
}
footer li{
  display: inline;
}
footer *{
  margin: 10px;
}